.blog-description {
	width: 80%;
	text-align: center;
	margin: 0 auto;
}

.blog-posts {
	text-align: center;
	list-style-type: none;
	color: blue;
	margin: 1em auto;
	padding: 0;
}

.post {
	width: 80%;
	text-align: justify;
	padding-bottom: 5em;
	margin: auto;
}